#main_content li
{
 display:inline;
 list-style-type:none;
 padding:10px;
 border-radius:5px 5px 0px 0px;
 font-weight:bold;
 cursor:pointer;

}
#main_content li.notselected
{
 background-color:#2471A3;
 color:black;
}
#main_content li.selected
{
 background-color:white;
 color:#292A0A;
}
#main_content .hidden_desc
{
 display:none;
 visibility:hidden;
}
#main_content #page_content
{
 background-color:#FDFEFE;
 padding:10px;
 margin-top:9px;
 border-radius:0px 5px 5px 5px;
 color:#2E2E2E;
 line-height: 1.6em;
 word-spacing:4px;
}


html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}


h2 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: white;
}

h2 {
  margin: 0;
  padding: 20px 0;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}


body
{
width: 1500px;
margin: 0 auto;
background-image: url("https://takeshape-prod.imgix.net/1f1d0876-be74-4b33-99c8-6ac93f1d70db%2Fdev%2F9bf4ba53-c749-46ca-be58-782d7bde7453%2Fhero_marine.jpg?auto=compress%2Cformat&w=1200");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100%;
}
#main_content li
{
 display:inline;
 list-style-type:none;
 padding:10px;
 border-radius:5px 5px 0px 0px;
 font-weight:bold;
 cursor:pointer;

}
#main_content li.notselected
{
 background-color:#2471A3;
 color:black;
}
#main_content li.selected
{
 background-color:white;
 color:#292A0A;
}
#main_content .hidden_desc
{
 display:none;
 visibility:hidden;
}
#main_content #page_content
{
 background-color:#FDFEFE;
 padding:10px;
 margin-top:9px;
 border-radius:0px 5px 5px 5px;
 color:#2E2E2E;
 line-height: 1.6em;
 word-spacing:4px;
 opacity: 0.8;
}


html {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}


h2 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: white;
}

h2 {
  margin: 0;
  padding: 20px 0;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}


body
{
width: 1300px;
margin: 0 auto;
font-family:helvetica;
padding: 0 20px 20px 20px;
border: 5px solid black;
}

h1
{
text-align: center;
font-family: 'Permanent Marker', cursive;
color: black;
font-size: 50px;
}

h2
{
text-align:center;
font-size:35px;
margin-top:2px;
color:#2471A3;
}
h2 p
{
text-align:center;
margin:0px;
font-size:18px;
text-decoration:underline;
color:white;
}
");
font-family:helvetica;
padding: 0 20px 20px 20px;
border: 5px solid black;
}



h2
{
text-align:center;
font-size:35px;
margin-top:2px;
color:#2471A3;
}

h2 p
{
text-align:center;
margin:0px;
font-size:18px;
text-decoration:underline;
color:white;
}

div.lastLine
{
  border-bottom: 5px solid black;
}

h3
{
  text-align: center;
}
